<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
      <!-- 버그가 있음. i class를 정확히 불러오지를 못함 직접 호출함. -->
      <li><a href="https://brunch.co.kr/@jadetypehoon/" rel="nofollow noopener noreferrer"><i class="fas fa-solid fa-blog" aria-hidden="true"></i> Brunch</a></li>
      <li><a href="https://www.linkedin.com/in/kang-taehoon-35248884/" rel="nofollow noopener noreferrer"><i class="fab brands fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} with Minimal Mistakes.
